
body {
  background-color: #81cfe0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active:hover {
  background-color: #F1F1F1;
  opacity: 0.4;
}

.carousel-indicators .active {
  background-color: #F1F1F1;
}

.carousel-indicators li {
  border-color: #F1F1F1;
}

#slide {
  height: 600px;
  width: 100%;
}

/*--we used this to edit the Home button--*/
.pull-left {
  margin-top: -10px;
  margin-left: 40px;
}

.nav {
  padding-right: 20px;
  margin-top: -15px;
}

.bg-info {
  height: 50px;
}

.intro {
  text-align: center;
}

.jumbotron {
  padding: 30px;
  margin-top: 20px;
  font-language-override: "ISL";
}

footer {
  text-align: center;

}

/*
.columns {
  color: #0B3861;
}*/
